.card-text{
    max-height: 150px;
    width: auto;
    z-index: 1;
}
body{
    background-color:  #00008B;
    margin-left: 5%;
}
img{
    height: 300px;
    width: auto;
}

a{
    margin-bottom: 3%;
}

h1{
    color:white
}