<div class="card">
    <link rel="stylesheet" href="{{url_for('static', filename='js/assets.js')}}">
    <img src="http://image.tmdb.org/t/p/w185/{{movie['poster_path']}}" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{movie['title']}}</h5>
        <!--- Ver tamaño del titulo tambien -->
        <h6 class="card-subtitle mb-2 text-muted">{{movie['release_date']}}</h6>
        {% if movie['overview']|length >= 20 %}
            {% set littleOverview = movie['overview'][:25]%}
            <p class="card-text">{{littleOverview}}...</p>
        {% endif %}
        <div>
            <button onclick="vote()" class="card-link upvote">⬆️</button>
                {{movie['vote_count']}}
            <button onclick="vote()" class="card-link downvote">⬇️</button>
        </div>
    </div>
</div>