<!DOCTYPE html>
<html>
    <head>
        <title> Test </title>  
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel = "stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <script src="js/owl.carousel.min.js"></script>

        <script>
            $(document).ready(function(){
                $(".owl-carousel").owlCarousel({
                    nav: true
                });
            });
        </script>  
    </head>
    <body>
        <div class="owl-carousel">
            {{{cards}}}
        </div>
    </body>
</html>