<!DOCTYPE html>
<html>
<head>
    <title>Love my movies</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">

    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',  filename='js/owl.carousel.min.js')}}"></script>
    <script>
        $(document).ready(function(){
            $(".owl-carousel").owlCarousel({
                nav: true
            });
        });
    </script>
</head>

<body>
    <!--- Modularize this-->
    <h1>Discover Movies</h1>  
    <div id = 'discover' class='owl-carousel'>
        {% for movie in discover['results'] %}
            {% with movie = movie %}
                {% include 'card.html' %}
            {% endwith %}
        {% endfor %}
    </div>
    <br/>
    <h1>Trending Movies</h1>
    <div id = 'trending'  class = 'owl-carousel'>
        {% for movie in trending['results'] %}
            {% with movie = movie %}
                {% include 'card.html' %}
            {% endwith %}
        {% endfor %}
    </div>

</body>
</html>